body
{
    margin :0px;
    background-color: #ffd1b3;
    background-image: url("index.jpg") ;
    background-attachment: fixed;
    background-size: cover ;
    background-repeat: no-repeat;
    color : white ;

}

section{
    font-size : 20px;
    width : 75%;
    margin-left: 12%;
}

span {
    font-size : 20px;
}

header{
    margin : 0px ;
    width: 75%;
    height : 440px;
    margin-left: 12%;
    border-width: 0px;
    border-color: black;
    margin-bottom: 0%;
    background-color: #5900b3 ;
}

textarea {
    resize: none;
}

.nolink2
{
    color : white;
    text-decoration : none;
}
.nolink2:hover
{
    color : red;
}

.nolink
{
    color : black;
    text-decoration : none;
}

.nolink:hover
{
    color : red;
}

.nopuce
{
    list-style-type:none;
}

#infos
{
    padding-left: 20px;
    background-color: #5900b3 ;
    border-style: solid;
    border-left : none;
    border-top: none;
    border-bottom: none;
    width : 25%;
    height: 3200px;
    position:absolute;
    onglets: 10px;
    border-color :#b566ff;;
}

#panel
{
    border-color :#b566ff;
    padding-bottom : 40px;
    border-bottom-right-radius: 50px;
    width : 47%;
    border-style: solid;
    border-left : none;
    border-top: none;
    border-right :none ;
    padding-left: 450px;
    font-size : 20px;
    color : white ;
    text-decoration : none;
    list-style-type:none;
    margin : -5px ;
    margin-left: 12%;
    line-height : 30px;
}

#panel h1
{
    text-decoration: underline;
}

#forum
{
    font-size : 20px;
    color : white ;
    text-decoration : none;
    list-style-type:none;
    margin : -5px ;
    margin-left: 12%;
}

#login
{
    font-size : 20px;
    color : white ;
    text-decoration : none;
}

#login:hover
{
    color : #ff4d4d;
}

.marge
{
    margin-left: 1em ;
}


#baniere
{
    width : 100% ;
}

#onglets
{
    font-size : 40px;
    margin : -5px ;
    margin-left: 12%;
    border-width: 0px;
    font : 60px ;
    list-style-type : none;
    margin-bottom: 0%;
    background-color: #5900b3;
}

#onglets li
{
    float : left;
    height : 55px; 
    line-height: 50px;
    background-color: #5900b3;
    padding : 20px;
}

#onglets li.active
{
    text-decoration: underline;
}

#onglets a
{
    color : white;
    text-decoration : none;
    padding : 0px;
}

#onglets li:hover
{
    background : #ff4d4d;
}

input
{
    font-size : 20px;
}

textarea{
    font-size : 20px;
}

p {
    font-size : 25px;
}

#programmation
{
    list-style-type : none;
}

#programmation li
{
    padding-top: 10px ;
    padding-bottom: 10px ;
    border-style: double;
    margin-top: 40px ;
    background-color: #ffd9b3;
    color : black;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
}

.centrage {
    text-align: center;
}

.underl{
    text-align: center;
    text-decoration: underline;
}
